@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: rgb(174, 161, 145);
}

*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 89px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 10px;
}
.brand img{
    width: 56px;
    margin: 0 10px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
    
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 20px auto;
    width: 65%;
    border-radius: 13px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    
}
.songItems{
    background-color: white;
    color: black;
    border-radius: 80px;
    padding: 10px 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    height: 14px;
}
.songItems img{
    width: 25px;
    border-radius: 50px;

}
.songListPlay{
    padding: 0 30px;

}

.timeStamp i{
    cursor: pointer;
}
.songItemsContainer{
    margin-top: 34px;
}
.bottom{
    position: sticky;
    height: 125px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}
.icons{
   margin-top: 14px;
   
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}
.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    

}